@model DbSet<Brand>

@{
    ViewData["Title"] = "Все модели марки " + ViewBag.brandName;
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <form class="form-group" method="post" asp-controller="AllBrandsAndModels" asp-action="Index">
        <select name="brandId" class="form-control">
            <option value="">Пожалуйста, выберите марку!</option>
            @{
                foreach (Brand brand in Model)
                {
                    <option value="@brand.Id">@brand.Name</option>
                }
            }
        </select>
        <input type="submit" class="btn btn-primary" value="Показать модели"/>
    </form>
</div>


    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Модель</th>
              <th scope="col">Активна</th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (Model m in ViewBag.models)
            {
                string active = m.Active ? "Да" : "Нет";
                <tr>
                    <td>@m.Name</td>
                    <td>@active</td>
                </tr>
            }
        }
        </tbody>
    </table>
