@model DbSet<Brand>

@{
    ViewData["Title"] = "Марки автомобилей";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Ид</th>
              <th scope="col">Марка</th>
              <th scope="col">Активна</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @{
            foreach (Brand brand in Model)
            {
                    string active = brand.Active ? "Да" : "Нет";
                    <tr>
                        <td>@brand.Id</td>
                        <td>@brand.Name</td>
                        <td>@active</td>
                        <td><a asp-controller="Brand" asp-action="Edit" asp-route-id="@brand.Id">Редактировать</a></td>
                        <td><a asp-controller="Brand" asp-action="DeleteBrand" asp-route-id="@brand.Id">Удалить</a></td>
                    </tr>
            }
        }
        </tbody>
    </table>
    <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="Edit">Добавить новую марку.</a>
</div>
